# 屏蔽一些项目无关的文件话目录
HELP.md
# [.gitignore语法]-以斜杠"/"结尾的模式表示目录,否则认为是文件?
target/

# [.gitignore语法]-模式前增加感叹号表示逻辑取反,注意感叹号与模式之间不能有空格,否则逻辑取反无效
!.mvn/wrapper/maven-wrapper.jar
# main和test目录都不排除
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
.idea/*.cookies
.idea/*.http
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


### 全部的rebel.xml(热部署插件的配置文件)都不需要同步
rebel.xml

### artifacts打包输出目录,不需要同步
/out/
# 本地日志目录不用同步
zephyrlogs/
